*{
    font-family: sans-serif;
}

body{
  
    margin: 0;
}

.head{
    background-color: #1F2937;
    min-width: 558px;
}

.head, .body{
    padding: 0 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 558px;
    
}

.header img{

    max-width: 50px;
    
}

h1{
    font-size: 24px;
    font-family: Courier;

    
}

.headlogo{
    margin: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #F9FAF8; 

}



.titlebox{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    max-height: 180px;
    min-width: 560px;
    
    
}

.left h2{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    color: #F9FAF8;
  
    
}

.left p{
    margin: 15px 0;
    color: #E5E7EB;
    font-size: 18px;
}

.signup{
    padding: 7px 20px;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.left{
    max-width: 450px; 
    min-width: 200px;
    
}
.picklebox{
     
    display : flex;
    flex: auto;
    
    
    justify-content: end;
    opacity: 0.5;
    
    
}

.picklebox img{
    
    width: 300px;
    border-radius: 10px;
    border : 2px solid hsla(0, 0%, 100%, 50%);
    box-shadow: 0 0 5px black;
    
    object-fit: cover; 
    transition: 0.3s;
}
/*
.picklebox img:hover{
    border : 2px solid hsla(0, 0%, 100%, 90%);
    box-shadow: 0 0 5px 5px rgb(196, 196, 196);
}
*/

.nav{
    display: flex;
    list-style: none;
    gap: 10px;
    color: #E5E7EB;

}

.b1header{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
        
}

/*Body elements*/
.b1{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 390px;
    gap: 10px;
    margin-bottom: 100px;
}

.b1 div{
    flex: 0 1 auto;
    max-width: 180px;
    text-align: center;
    margin-top: 20px;
       
}
.b1 div img{
    max-width: 100%;
    border: 5px solid #3882F6;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #3882F6;
    filter: grayscale(90%);
    
}   
.b1 div img:hover{
    filter: grayscale(0%);
    transition: 0.3s;
}
#harry:hover{
    content: url("./img/harry.png");
    max-width: 100%;
    
    border: 5px solid #3882F6;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #3882F6;
    
}


.b1 div p {
    margin: 0;
    color: hsl(0, 0, 20%) 
}



footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size : 18px;
    
}

.b2{
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 60px 100px;  
    min-width: 600px;
 
}


.b2 p{
    font-size: 36px;
    max-width: 700px;
    font-style: italic;
    color: #455266;
    font-weight: 0;
    font-family: unset;
    
}
.b2 p span{
    background-color : lightgray;
    
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-style: normal;
    font-family:'Courier New', Courier, monospace;
    color: darkslategrey;

}
.b2 p:last-of-type{
    font-weight: bold;
    
    text-indent: 10%;
}
.pfbox{
 max-width: 400px;   
 border-radius: 100%;
 overflow: hidden;

}
.b2 img{
    max-width: 100%;
}


.callbox{
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    max-width: 100%;
    margin: 100px auto;
    background-color:#3882F6;
    color: #F9FAF8;
    align-items: center;
    border-radius: 10px;
    min-width: 400px;
    gap: 10px;
   

}
#signup-message{
    font-weight: bold;
    font-size: 25px;
    margin: 5px 0;
    
}

.callbox p:last-of-type{
   color: #E5E7EB; 
   font-size: 20px;
   margin: 5px 0;
}

.callbox > .signup{
    border: 3px solid white;

    font-size: 20px;
    padding: 5px 35px;
    
    
}